/* task Component  */
.task {
  padding: 25px 20px;
  margin: 5px 0px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
}

.task span {
  font-size: 20px;
  line-height: 0;
  text-transform: capitalize;
  font-weight: 500;
}

.line-through {
  text-decoration: line-through;
}

.task .checkbox {
  font-size: 25px;
  margin: 0px 3px 0px 0px;
  cursor: pointer;
}

.title_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 20px;
  height: 20px;
  display: block;
  margin: 0px 0px 0px 10px;
  transition: all 0.2s;
  cursor: pointer;
}
