body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #151a30;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  ToDoPage  */

.todo {
  margin: auto;
  width: 400px;
}

.form input,
button {
  color: white;
  font-size: 20px;
  outline: none;
  background-color: #593bab;
  border: solid 2px #593bab;
}

.form input {
  padding: 20px;
  background-color: transparent;

  width: 80%;
  margin: 0px;
}

.form button {
  width: 20%;
  margin: 0px;
  padding: 20px 0px;
  cursor: pointer;
}

.colors {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

.color {
  width: 30px;
  height: 30px;
  display: block;
  margin: 0px 10px;
  transition: all 0.2s;
}

.current {
  transform: scale(0.8) rotate(-90deg);
}

.color:hover {
  transform: scale(0.8) rotate(-90deg);
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: white;
}

.version {
  text-align: center;
  width: 100%;
  color: white;
}
